nav.active{
    top: 0px;
    left: 0px;
    width: 100vw;

    position: fixed;
    animation: active 0.7s linear;
}

nav{
    background-color: white;
    z-index: 50;
}


@keyframes active {
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(0%);
    }
    
}
